
<%= link_to '編集しないで戻る', wish_path(@wish), class:'nav-link backLink'%>
<div class='w60 center'>
<h1>編集</h1>
<%= form_with model: @wish, method: :patch, local: true do |form|%>

    <div class='form-group mt5'>
        <%= form.label :title,"タイトル"%>
        <%= form.text_field :title, class:'form-control' %>
    </div>


    <div class='form-group'>
        <%= form.label :description,"詳細"%>
        <%= form.text_area :description, size: '8x8',class:'form-control' %>
    </div>


<div class='form-group'>
<%= form.label :description_link1,"関連リンク(3つまで登録可)"%>
<%= form.text_field :description_link1, class:'form-control' %>
</div>

<div class='form-group'>

<%= form.text_field :description_link2, class:'form-control' %>
</div>

<div class='form-group'>
<%= form.text_field :description_link3, class:'form-control' %>
</div>
<div class='textCenter mt5'>
    <%= form.submit '更新する', class:'btn btn-warning'%>
    </div>
    </div>
<% end %>