<h1>Wishes#show</h1>
<%= link_to 'マイページに戻る',mypage_path(@wish.user_id), class:'nav-link'%>
<%= link_to 'wish一覧に戻る',wishes_path, class:'nav-link'%>

<div>

    <p><%= @wish.title%></p>
    <p><%= @wish.description%></p>
    <p><%= raw Rinku.auto_link(@wish.description_link1,:all,'target="_blank"')%></p>
    <p><%= raw Rinku.auto_link(@wish.description_link2,:all,'target="_blank"')%></p>
    <p><%= raw Rinku.auto_link(@wish.description_link3,:all,'target="_blank"')%></p>

    <% if current_user.id == @wish.user_id %>
         <%= link_to '編集', edit_wish_path(@wish.id), class:'btn btn-warning'%>
    <% end %>
</div>

