<% content_for(:html_title) { 'Wish | ユーザー一覧' } %>
<div class='backLink'>
  <%= link_to '戻る', mypage_path(current_user.id), class:"nav-link"%>
</div>
<h1 class='mt5'>User一覧</h1>
<div class='searchBoxAtUser'>
    <div class='mt5'>
        <%= search_form_for @search, url:users_index_path do |f|%>
            <%= f.search_field :name_cont,placeholder:"ユーザー名"%>
            <%= f.submit '検索', class:"btn btn-primary"%>
        <% end %>
    </div>
</div>
<div class='mt5 ml30'>
    <% @users.each do |user|%>
        <%= render partial: 'users/user', locals:{user: user} %>
    <% end%>
</div>