<%= render 'relationships/follow_button', user: @user %>

<% content_for(:html_title) { 'Wish | ユーザー' } %>
<div class='backLink'>
    <%=link_to '戻る', wishes_path, class:'right'%>
</div>
<div class='textCenter mt5 left'>
    <% if @user.image.url%>
        <%= image_tag @user.image.url(:medium) %>
    <%else%>
        <%= image_tag 'no-image.png',class:'profImg' %>
    <% end%>
    <div><%= @user.name%></div>
    <div><%= simple_format(h(@user.myself))%></div>
</div>
<div class='mt5'>
    <div class='ml30'>
        <h3>Wish一覧</h3>
        <br>
    </div>
    <div class='w60 center'>
        <% @wishes.each do |wish|%>
            <div class='oneWish p10'>
                <p><%= link_to "#{wish.title}", wish_path(wish.id)%></p>
            </div>
        <% end %>
    </div>
</div>
