<div class='backLink'>
  <%= link_to '戻る', mypage_path(current_user.id), class:"nav-link"%>
</div>
<div class='w60 center'>
<h1>編集</h1>
<%= form_with model: @user, url: mypage_path, method: :patch, local: true do |form| %>


  <div class="form-group mt5">
    <%= form.label :name, "ユーザーネーム" %>
    <%= form.text_field :name, class: 'form-control',autofocus: 'true' %>
  </div>

  <div class="form-group">
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :myself,"自己紹介文" %>
    <%= form.text_area :myself, size: '8x8', class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :image,"プロフィール画像"%><br>
    <%= form.file_field :image%>
  </div>

<br>
  <div class="textCenter mt5">
    <%= form.submit '更新する', class: 'btn btn-warning' %>

<br>
<br>
<%= link_to '退会する', quit_path(current_user.id), method: :delete, class:'btn btn-danger', data:{confirm: '退会すると登録したすべてのWishが削除されます。よろしいですか？'}%>
  </div>
</div>
<% end %>
