<h1>Mypages#edit</h1>
<%= link_to '戻る', mypage_path(current_user.id), class:"nav-link"%>

<%= form_with model: @user, url: mypage_path, method: :patch, local: true do |form| %>


  <div class="name">
    <%= form.label :name, "ユーザーネーム" %>
    <%= form.text_field :name, class: 'form-control',autofocus: true %>
  </div>

  <div class="email">
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

<div class="myself">
    <%= form.label :myself,"自己紹介文" %>
    <%= form.text_area :myself, size: '8x8', class: 'form-control' %>
  </div>

<br>
  <div class="submit">
    <%= form.submit '更新する', class: 'btn btn-warning' %>
  </div>


<% end %>
