<% content_for(:html_title) { 'Wish | マイページ' } %>
<div class='textLeft mt5 left'>
    <% if @user.image.url%>
        <%= image_tag @user.image.url(:medium)%>
    <%else%>
        <%= image_tag 'no-image.png',class:'profImg' %>
    <% end %>

    <div>Name:　<%= current_user.name%></div>
    <div>Email:　<%= current_user.email%></div>
    <div><%= simple_format(h(current_user.myself))%></div>
    <%= link_to 'プロフィール編集', edit_mypage_path(current_user.id), class:'btn btn-warning'%>
</div>
    <div class='mt5'>
        <div class='ml30'>
            <h3>Wish一覧</h3>
            <br>
        </div>
        <div class='center w60'>
            <% @wishes.each do |wish| %>
                <div class='oneWish p10 '>
                        <p><%= link_to "#{wish.title}", wish_path(wish.id) %></p>
                        <% if wish.private_flg == true%>
                            <span class='badge badge-info'>Private</span>
                        <%end%>
                </div>
            <%end%>
            <h3 class='mt10'>お気に入りWish</h3>
            <% @favorite_wishes.each do |wish|%>
                <div class='oneWish p10 thumbnailTextP'>
                    <%= render partial: 'wishes/wish', locals:{wish: wish} %>
                    <p><%= link_to wish.title, wish_path(wish.id) %></p>
                </div>
            <% end%>
        </div>
    </div>


