<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= render 'partial/navbar'%>
    <% else %>
    <nav class='navigationBar'>
       <%= link_to "Wish", root_path, class: "fs30 p5 black decorationNone ml8" %>
      <%= link_to '新規会員登録', sign_up_path, class:'btn btn-primary fromRight2'%>
      <%= link_to 'ログイン', sign_in_path, class:'btn btn-wish fromRight1'%>
    </nav>
    <hr>
    <% end%>
    <div class='notifications'>
      <% flash.each do |key,value|%>
        <%= content_tag(:div,value, class:key)%>
      <%end%>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
